<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gram.user.UserMapper">

    <select id="loginUser" resultType="com.gram.user.UserVO">
        SELECT 
			u.userPassword, u.userId, a.AuthUser as Auth
		    from user as u 
		    inner join UserAuth as ua on u.userIdx = ua.userIdx 
		    inner join Auth as a on ua.AuthLevel = a.AuthLevel 
		    where u.userId = #{userId}
    </select>
    
    <insert id="memberSave">
    	INSERT INTO USER (
		    userId, 
		    userPassword, 
		    userNick,
		    userEmail, 
		    userBirth, 
		    userSex, 
		    userDate
		    ) values (
		    	#{userId},
		    	#{userPassword},
		    	#{userNick},
		    	#{userEmail},
		    	#{userBirth},
		    	#{userSex},
		    	now()
		    )
    </insert>
    
    
    <insert id="authSave">
    	<selectKey resultType="int" keyProperty="userIdx" order="BEFORE">
    		SELECT userIdx from user where userId = #{userId}
    	</selectKey>
    	INSERT INTO USERAUTH (
    		AuthLevel,
    		userIdx
    	) values (
    		#{userAuth},
    		#{userIdx}
    	)
    </insert>
    
    
</mapper>